# Privy App ID - Get this from https://dashboard.privy.io/
REACT_APP_PRIVY_APP_ID=cmga827wd0009la0cnot3rj8g

# Environment Configuration
# Options: local, development, staging, production
# If not set, defaults to 'local' (localhost:3001)
REACT_APP_ZUGZWANG_ENVIRONMENT=local

ESCROW_CONTRACT_ADDRESS=0xEbFC063d8e19C90Cd4264b245FB4884CB7F6D60b
